/*This box model stuff is the very base of all css elements*/

* {
    /* reseting browser styles*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*helps to calculate the sizes we're assigning. box-sizing includes border in padding*/
}

.container {
    border: 5px double red;
    /* double dotted solid outset*/
    /* border-top: 5px solid green;
    border-right: 5px double blue;
     */
    font-size: 1.5rem;
    margin: 1.5em;
    /* top [left-right] bottom*/
    /* margin-top: 1.5em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em; */
    padding: 1.5rem;
    outline: 5px solid purple;
    outline-offset: 5px;
}

.circle {
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    outline: 2px solid red;
    outline-offset: 0.25rem;
    border-radius: 50px;
}


/*
header {
    border: 2px dashed rgb(255, 0, 0);
    width: 400px;
    padding: 1.5rem;
}*/