@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container{
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
}
.inner-container{
    border: 2px solid #00f;
    width:  40vw;
    height: 50vh;
    margin: 200px auto;
    /* position: relative ; */
}
.box{
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem; 
}
.absolute{
    background-color: #00f;
    position: absolute; /* static is the default for all elements*/
    top: 0;
    left: 0;
    /* top: 100px;
    left: 50px;
 */
    /* left: -100000px;
  */
}
.relative{
    background-color: #f00;
    position: relative;
    top: 300px;
    left: 100px;
    z-index: 1;
}
.fixed{
    background-color: green;
    position: fixed;
    top: 100px 
}
.sticky{
    background-color: #000;
    position : sticky;
    top: 0;

}
/*////////////////////////////////////////*/

section{
    height: 100vh;
}
.blue{    background-color: blue;}
.red{    background-color: red;}
.green{    background-color: green;}

header,footer{
    color:#fff;
    text-align: center;
    height: 100px;
}
header{
    position: sticky;
    top:0;
    font-size: 5rem;

}
footer{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    /* position: sticky */   
}
a:visited{
    color:#fff;
}
.social{
    background-color: royalblue;
    color:white;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top:30%;
    left:0;
    z-index: 1;
}










