@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    padding: 10%;
    font-size: 1.5rem;
    font-family: 'Roboto',sans-serif;
}
a{
    text-decoration: none; /* the default is underlined, so we remove it*/
    cursor:pointer;
    color:blue;
}
a:visited{
    color: purple;
}
a:hover, a:focus{
    color: dodgerblue;
    opacity: 0.9;
   /*  background: hsl(240, 100%, 50%); */
}
a:active{
    color:green;
}
