        @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
        /*BROWSER RESET*/
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* VARIABLES */
        :root{
        /* FONT */
            --FF: "Nunito", sans-serif;/* font family*/
            --FS: 1.5rem; /* font size */
            --FS-XL: 3rem; /* font size extra-large */
            
        /* Colors */
            --BGCOLOR: #475569;
            --ALT-BGCOLOR: #1e293b;
            --RADIAL-COLOR: whitesmoke;
            --LIGHT-COLOR: whitesmoke;
            --DARK-COLOR: #000;
            --LINK-HOVER: rgb(43, 187, 212);

        /*  Padding*/
            --PADDING: 0.5rem;
            --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
            --BORDERS: border-bottom: 2px solid var(--DARK-COLOR);
        }

        

        img {
            /*changing image to block element and making image fit screen*/
            display: block;
            max-width: 100%;
            height: auto;
        }
        /* -- UTILITY CLASSES -- */
        
        .nowrap {
            white-space: nowrap;
        }
        /* -- GENERAL STYLES -- */
        
        body {
            font: var(--FS) var(--FF);
            min-height: 100vh;
            background-color: var(--BGCOLOR);
            background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
            display: flex;
            flex-direction: column;
            /*Setting the display type of the body as flex and giving it a vertical(column) horientation instead of horizontal as it is by default for flexbox*/
        }

        html{
            scroll-behavior: smooth;
        }
        header,
        nav,
        main, footer{
            display: grid;
            place-content: center;
            grid-template-columns: 100%;
            text-align: center;
        }
        
        header,
        footer {
            position: sticky;
            background-color: var(--ALT-BGCOLOR);
            color: var(--LIGHT-COLOR);
            text-align: center;
            z-index: 1;
        }
        
        header {
            top: 0;
        }
        
        nav {
            background-color: #fff;
            padding: var(--PADDING);
            border-bottom: var(--BORDERS);
            font-weight: bolder;
            display: flex;
            justify-content: space-evenly;
            box-shadow: var(--SHADOWS);
        }
        
        nav a:any-link {
            color: var(--DARK-COLOR);
            text-decoration: none;
        }
        nav :is(a:hover, a:focus){
            color: var(--LINK-HOVER)
        }


        main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 1rem;
            
        }
        
        footer {
            /*stick to the bottom🤔*/
            /*bottom: 0;*/
            height: 200px;
        
        }
        .footer-el{
            color: var(--LIGHT-COLOR);
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: lighter;
            font-size: 3rem;
        }
        .footer-el:hover{
            color: #00C7FF;
        }
        .footer-el-container{
            padding-top: 2rem;
            display: flex;
            justify-content: space-evenly;
            flex-flow: column;
            
        }



        /*-->Profile card */
        .card{
            /*having a margin on the top from the scroll*/
            scroll-margin-top: 8rem;
            width: min(100%, 350px);
            background-color: #cbd5e1;
            border-radius: 15px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            box-shadow: 0 2px 12px rgba(1, 1, 1, 0.411);
            background-image: linear-gradient(#C2CCD8,#CDE4F1);
            
        }
        .card:target{
            border: 2px solid rebeccapurple;
        }
        .card:hover{
            background-image: linear-gradient(#AEA2CD,#82CAF7);
            cursor: pointer;
        }
        .card figure{
            display: flex;
            flex-flow: column nowrap;
        }
        .card img{
            border: 8px solid var(--ALT-BGCOLOR);
            border-radius: 50%;
        }
        .card img:not([alt]){ /* mmm selection all card images that do not have alt attributes*/
            border: 10px solid red; /*mmm this actually does nothing since all the card images in our page have been given an alt property*/
        }/*.card img[alt]*/ /*<-- this one on the other hand will be to select all images that have the alt tag*/

        .card figcaption{
            font-weight: bolder;
            font-size: 2rem;
            margin:1rem;
            text-align: center;
        }
        .card figcaption::after{
            content: '💎'; /* adds text after */
            display: block; /*you can also choose the display method mm*/
        }

        .card p { /*making the card paragraph a parent of the quotes*/
            position: relative; 
        }
        .card p::before{
            content:open-quote;
            font-size: 3rem;
            position: absolute; /*quotes will align relative to the card paragraph*/
            top: -0.25em;
            left:  6rem;
        }
        .card p::after{
            content:close-quote;
            font-size: 3rem;
            position: absolute;
            top: -0.25em;
            right:  6rem;
        }



        /*-- MEDIA QUERIES --*/
        /*mediaTag mediaType and (conditionName(min-width, landscape, min-aspect-ration etc):value)*/   
        

        @media screen and (min-width:100px) {
            /*Miniscule phones 🤔*/
            .card p::after{     /*making the quotes responsive*/            
                right: 3rem;
            }
            .card p::before{                
                left: 3rem;
            }
        }


        @media screen and (min-width:576px) {
            /*SMALL <= 576( mobile phones)*/
            main{
                justify-content: center;
                flex-flow: row wrap;
                padding: 1rem;
            }
            .card{
                width: min(100%,400px);
            }
            .footer-el{
                font-size: 1rem;
            }
            .footer-el-container{
                flex-flow: column;
            }
            
        }

        /*MEDUM iPad*/
        
        @media screen and (min-width:768px) {
            /*for devices having width <= 576( mobile phones)*/
            nav{
                display: none;
            }
            .card{
                /*(how much will element grow with parent, what's it's limit)*/
                width: min(100%, 325px);/*minimum size i*/
                /*follow parent everywhere except below 325px*/
            /*It means that the card grows and shrinks totally with it's parent but will not go below 325px!! ;-)*/
        }
            .card figure{
                flex-flow: column-reverse;/*just for fancy dave gray!*/
            }
            
            .card p{
                margin-top: 1rem;
            }
            
            .footer-el-container{
                flex-flow: row;
            }
            .card p::after{     /*making the quotes responsive*/            
                right: 4rem;
            }
            .card p::before{                
                left: 3.5rem;
            }
        }
        /*LARGE (PC)*/
        
        @media screen and (min-width:992px) {
            /*for devices having width <= 992( Tablets )*/
            .card{
                width: min(100%, 400px);
            }
            .card:nth-child(2){
                order: -1;
            }
            .footer-el-container{
                flex-flow: row;
            }
            
        }

        /*XL- Really Large screens*/
        
        @media screen and (min-width:1200px) {
            .card{
                width: min(calc(33%-1rem), 500px);
            }
            .footer-el-container{
                flex-flow: row;
            }
            
        }

        /*MOBILE DEVICE LANDSCAPE*/
        /*for devices having width <= 576( mobile phones)*/
        
        @media screen and (max-height:425px) and ( min-aspect-ratio: 7/4) {
            h1{
                font-size: 1.5rem;
            }
            
            nav{
                display: none;
            }
            main{
                flex-flow: row nowrap; /*setting one row and no wrap.*/
                justify-content: space-evenly;/*of course elements should be spaced evenly*/
                align-items: stretch; /*giving them the same height incase content will give them different heights*/
            }
            .card{
                width: min(calc(33%-0.25rem), 200px);
            }
            .card figcaption, .card p {
                font-size: 1.25rem;
            }
            .footer-el-container{
                flex-flow: row;

            }
            .footer-el{
                font-size: 3rem;
            }
            
        }

        /*@media screen and (max-height:425px) and ( min-aspect-ratio: 7/4) {
            body {
                background-color: dodgerblue;
                background-image: radial-gradient(whitesmoke, dodgerblue);
            }
            h1,
            h2 {
                font-size: 1.5rem;
            }
            .card{
                width:min(40%,200px);
                
            }
        } */ /* I Did this yes!!*/