/* {
    border: 1px solid indianred;
}*/


/* font settings in html selector*/

html {
    font-size: 22px;
    /* This is kind of to set the standard font size for all elements*/
}

body {
    /* body tag*/
    font-size: 22px;
}

main {
    font-family: monospace;
}

h1,
h2 {
    color: #0000ff;
}

p {
    color: purple;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}