@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
nav{
    border: 2px solid #333;
    border-radius: 2rem;
    margin:0 auto 1rem;
    max-width: 600px ;
    font-size: 3rem;
    line-height: 7rem;
}

h2 {
    padding: 1rem;
    background : gold;
    border-radius: 2rem 2rem 0 0;

}
/*LIST ELEMENTS*/
ul{ 
    list-style-type: none
}
li{
    border-top: 1px solid #999595;
}

/* LINKS*/
li a{
    display: block;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}
li a, li a:visited{
    text-decoration: none;
    color : #333;
}

li a:hover,li a:focus{
    background: #333;
    color: whitesmoke ;
    cursor: pointer;
}
/* p tag*/
p{
    font-size: 2rem;
}
p a, p a:visited{
    text-decoration: none;
    color : green;
}
p a:hover, p a:focus{
    color: #2885A1;
}
