body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(0, 0, 0);
}

p {
    color: rgba(30, 27, 212, 0.76);
}


/*simple and basic but nice nice design tho*/